#headerInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: orange;
    font-family: fantasy;
}
#headerMenu {
    position: relative;
    top: 1vh;
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    background: black;
    color: orange;
    font-family: fantasy;
}
#headerMenu div {
    background-color: black;
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
}
#headerMenu div:hover {
    background-color: rgb(32, 32, 32);
}
