#wrapper {
    position: absolute;
    width: 90%;
    left: 5%;
}
#teamInfoWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    left: 50%;
    margin-left: -45%;
}
.player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 850px;
    height: 100px;
    left: 50%;
    margin-left: -425px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid black;
}
